{% extends "page.html" %}


{% block breadcrumb_content %}

  <li class="active">{{ _('Sparql Point') }}</li>
  
{% endblock %}

{% block primary %}
{{ _('test primary content') }}
{% endblock %}

{% block secondary %}
{{ _('Test secondary content') }}
{% endblock %}


{% block scripts %}
  {{ super() }}  
  
	{% set current_url = request.environ.CKAN_CURRENT_URL %}
  
  <!-- Base JS -->
  
  <script src="{% url_for_static '/public_sparql/base.js' %}"></script>
  
  <script type="text/javascript">
  
  	$(document).ready(function(){
	  var sparql_query = GetURLParameter('view_code');
	  if (sparql_query != "" && sparql_query != undefined) {
	  	editor.setValue(decodeURIComponent((sparql_query+'').replace(/\+/g, '%20')));
	  }
	});
  
  </script>

  
{% endblock %}
