{% extends "page.html" %}

{% block head_extras %}

<meta name="description" content="Sparql EndPoint Interface.">

  	<header class="sparql_hideme">
		<p>{{ _('Sparql EndPoint Interface.') }}</p>
	</header>

<!-- Sparql base CSS/JS and Jquery -->

<link rel="stylesheet" href="{% url_for_static '/public_sparql/base_styles.css' %}">
<script src="{% url_for_static '/public_sparql/jquery-1.9.1.min.js' %}"></script>

<!-- Code Mirror CSS/JS -->

<link rel="stylesheet" href="{% url_for_static '/public_sparql/codemirror/lib/codemirror.css' %}">
<script src="{% url_for_static '/public_sparql/codemirror/lib/codemirror.js' %}"></script>
<script src="{% url_for_static '/public_sparql/codemirror/lib/mode.sparql.js' %}"></script>
<link rel="stylesheet" href="{% url_for_static '/public_sparql/codemirror/themes/default.css' %}">
    
{% endblock %}

{% block breadcrumb_content %}

  <li class="active">{{ _('Sparql Point') }}</li>
  
{% endblock %}

{% block primary %}

  	<header class="sparql_hideme">
		<p>{{ _('Sparql EndPoint Interface.') }}</p>
	</header>
	
    <div id="sparql_point_block">
       <noscript>
    <div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  {{_('please turn on javascript to access website')}}
</div></noscript> 
        <h1>SPARQL Editor</h1>
        
        <div class="control-group control-full" 
        {% if h.sparql_hide_endpoint_url() %} 
        	style="display:none; " 
        {% endif %}>
        	<label class="control-label" for="field-sparql-server">{{ _('Sparql Point Server') }}</label>
            <div class="controls">
                <input id="field-sparql-server" type="text" name="sparql-server" value="{{h.sparql_endpoint_url()}}" placeholder="{{ _('Add the Sparql service URL. For Instance:') }} {{h.sparql_endpoint_url()}}">
            </div>
            <i class="icon-exclamation-sign"></i>&nbsp;<small>{{ _('Add the Sparql service URL. For Instance:') }} <abbr title="Sparql Point"><a target="_blank" href="http://semantic.ckan.net/sparql">http://semantic.ckan.net/sparql</a></abbr></small>
        </div>
        
		<i class="icon-comment"></i><small><abbr title="Code Mirror"><a target="_blank" href="http://codemirror.net/">&nbsp;{{ _('Created using Code Mirror for the interface') }}</a></abbr></small>
		<br><br>

		<div id="test_sparql" class="sparql_hideme"></div>

<textarea id="sparql_code" name="sparql_code"  resize="both">
#Add here other prefixes for vocabularies that are needed
#PREFIX othervocab: <http://...... 

SELECT * 
WHERE {
  	?s ?p ?o
      } 
LIMIT 20
</textarea>

        <button id="sparql_btn" class="btn" onclick="call_sparql_point_server();">{{ _('Submit Query') }}</button>
        
        <div id="sparql_link_query" class="control-group control-full">
            <label class="control-label" for="field-link-sparql-server-query">{{ _('Permanent links') }}</label>
            
            <i class="icon-info-sign"></i>&nbsp;<small><abbr title="Link Query"><a target="_blank" id="go_to_link_query_json">{{ _('JSON Format') }}<i class="icon-link"></i></a></abbr><b>&nbsp;&nbsp;({{ _('You can copy the permanent link below') }})</b></small><br>
            <div class="controls">
                <input id="field-link-sparql-server-query_json" type="text" name="sparql-server-query" value="" placeholder="">
            </div>
            
            <i class="icon-info-sign"></i>&nbsp;<small><abbr title="Link Query"><a target="_blank" id="go_to_link_query_turtle">{{ _('TURTLE Format') }}<i class="icon-link"></i></a></abbr><b>&nbsp;&nbsp;({{ _('You can copy the permanent link below') }})</b></small><br>
            <div class="controls">
                <input id="field-link-sparql-server-query_turtle" type="text" name="sparql-server-query" value="" placeholder="">
            </div>
            
            <i class="icon-info-sign"></i>&nbsp;<small><abbr title="Link Query"><a target="_blank" id="go_to_link_query_csv">{{ _('CSV Format') }}<i class="icon-link"></i></a></abbr><b>&nbsp;&nbsp;({{ _('You can copy the permanent link below') }})</b></small><br>
            <div class="controls">
                <input id="field-link-sparql-server-query_csv" type="text" name="sparql-server-query" value="" placeholder="">
            </div>
            
            <i class="icon-info-sign"></i>&nbsp;<small><abbr title="Link Query"><a target="_blank" id="go_to_link_query_query">{{ _('Permanent Link for this Query (To save your Query)') }}<i class="icon-link"></i></a></abbr></small>

            
        </div>
        <br>
    	<div id="loading_image" class="span8 offset1">
			<center><img src="{% url_for_static '/public_sparql/gif-load.gif' %}" alt="Loading"></center>
			<br>
			<br>
			<br>
		</div>
        
        <div style="margin-left:1em;"> <div id="sparql_results"></div></div>
    
    </div>
<style>
#content > div.row.wrapper.no-nav > div.data-explorer-here{
  margin-left: 1.5em;
}
#content > div.row.wrapper.no-nav > div.data-explorer-here > div > div > div.header.clearfix > div.navigation > div > button.btn.btn-default{
  margin: -5px;
}

#content > div.row.wrapper.no-nav > div.data-explorer-here > div > div > div.header.clearfix > div.recline-pager > div > ul > li.page-range, 
#content > div.row.wrapper.no-nav > div.data-explorer-here > div > div > div.header.clearfix > div.recline-pager > div > ul > li.next.action-pagination-update > a,
#content > div.row.wrapper.no-nav > div.data-explorer-here > div > div > div.header.clearfix > div.recline-pager > div > ul > li.prev.action-pagination-update > a{
  padding-bottom: 0px;
}
#q{
  width: 100px;
}
#content > div.row.wrapper.no-nav > div.data-explorer-here > div > div > div.header.clearfix > div.query-editor-here > div > form > button{
  display: none;
}
</style>
<!--
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
create_data()
-->

<script type="text/javascript">
function create_data(){
  var url = $("#field-link-sparql-server-query_json").val();

  var json = $.getJSON( url, function() {
        console.log( "success" );
      })
        .done(function() {
          console.log( "second success" );
        })
      .fail(function() {
        console.log( "error" );
      })
      .always(function() {
        console.log( "complete" );
      }
    );
   
  // Perform other work here ...
   
  // Set another completion function for the request above
  var x;
  json.complete(function() {
    console.log( "second complete" );
    console.log(json.responseJSON);
    x = json.responseJSON;
    console.log(x);
    
  });


  json.complete().complete(function(){
  function toObject(arr) {
    var rv = {};
    for (var i = 0; i < arr.length; ++i)
      rv[i] = arr[i];
    return rv;
  }

  var vars = [];
  for(var i = 0; i < x.head.vars.length; i++){
    vars.push({id:String(x.head.vars[i]), type: "text"});
    console.log(String(x.head.vars[i]));
  }
  var records = [];

  for(var i = 0;  i < x.results.bindings.length; i++){
    var dict = {};
    for(var j = 0; j < vars.length; j++){
      
      dict[String("_"+vars[j]["id"])]= x.results.bindings[i][vars[j]["id"]]["value"];
      console.log(vars[j]["id"]);
      console.log(String(vars[j]["id"]));
      //console.log(x.results.bindings[i][vars[j]["id"]]["value"]);
    }
    //dict = toObject(dict);
    records.push(dict);
  }
  for(var i = 0; i <vars.length; i++){
      vars[i].id = "_"+vars[i].id
  }
  //records = toObject(records);
  //vars = toObject(vars)
  data_from_json = {records:records, fields:vars};
  console.log(vars)
  console.log(records)
  if($(".recline-data-explorer").length > 0){
    $(".recline-data-explorer")[0].remove();
  }
  $("#field-link-sparql-server-query_json").on('change',function(){$(".recline-data-explorer")[0].remove;})
  var dataset = createDemoDataset();
  window.multiview = createMultiView(dataset);

  var url = $("#field-link-sparql-server-query_json").val();
  console.log(url)
  var json = $.getJSON(url);
  console.log(json)
  json = json.responseJSON;
  console.log(json)}
).complete(function(){
    var rem = document.getElementsByClassName('slick-column-name')
    for(var i = 0; i < rem.length; i++){
      rem[i].innerHTML = rem[i].innerHTML.substring(1, rem[i].innerHTML.length)
    $("#showdata").hide();
    $("#updatedata").show();
}
});

}

</script>

<style type="text/css">

.recline-slickgrid {
  height: 300px;
}

.recline-timeline .vmm-timeline {
  height: 550px;
}

.changelog {
  display: none;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}
#content > div.row.wrapper.no-nav > div.data-explorer-here > div > div > div.data-view-sidebar > div.recline-row-add > h1 > a{
  font-size: 1em;
}
#content > div.row.wrapper.no-nav > div.data-explorer-here > div > div > div.header.clearfix > div.query-editor-here > div > form > div > input{
  height: 
}
.slick-column-name::first-letter {
  color: rgba(0, 0, 0, 0);
  display: none;
}

</style>

<div class="data-explorer-here"></div>

<div style="clear: both;"></div>


  
      <link rel="stylesheet" href="http://okfnlabs.org/recline/vendor/leaflet/0.7.3/leaflet.css">
  <!--[if lte IE 8]>
  <link rel="stylesheet" href="../vendor/leaflet/0.7.3/leaflet.ie.css" />
  <![endif]-->
  <link rel="stylesheet" href="http://okfnlabs.org/recline/vendor/leaflet.markercluster/MarkerCluster.css">
  <link rel="stylesheet" href="http://okfnlabs.org/recline/vendor/leaflet.markercluster/MarkerCluster.Default.css">
  <!--[if lte IE 8]>
  <link rel="stylesheet" href="../vendor/leaflet.markercluster/MarkerCluster.Default.ie.css" />
  <![endif]-->
  <link rel="stylesheet" href="http://okfnlabs.org/recline/vendor/slickgrid/2.0.1/slick.grid.css">
  <link rel="stylesheet" href="http://okfnlabs.org/recline/vendor/timeline/css/timeline.css">

  <!-- Recline CSS components -->
  <link rel="stylesheet" href="http://okfnlabs.org/recline/css/grid.css">
  <link rel="stylesheet" href="http://okfnlabs.org/recline/css/slickgrid.css">
  <link rel="stylesheet" href="http://okfnlabs.org/recline/css/flot.css">
  <link rel="stylesheet" href="http://okfnlabs.org/recline/css/map.css">
  <link rel="stylesheet" href="http://okfnlabs.org/recline/css/multiview.css">
  <link rel="stylesheet" href="http://okfnlabs.org/recline/css/timeline.css">


 <script src="http://okfnlabs.org/recline/vendor/slickgrid/2.0.1/jquery-1.7.min.js"></script>
  <script type="text/javascript" src="http://okfnlabs.org/recline/vendor/underscore/1.4.4/underscore.js"></script>
  <script type="text/javascript" src="http://okfnlabs.org/recline/vendor/backbone/1.0.0/backbone.js"></script>
  <script type="text/javascript" src="http://okfnlabs.org/recline/vendor/mustache/0.5.0-dev/mustache.js"></script>
  <script type="text/javascript" src="http://okfnlabs.org/recline/vendor/bootstrap/2.3.2/bootstrap.js"></script>
  <!--[if lte IE 8]>
  <script language="javascript" type="text/javascript" src="../vendor/flot/excanvas.min.js"></script>
  <![endif]-->
  <script type="text/javascript" src="http://okfnlabs.org/recline/vendor/flot/jquery.flot.js"></script>
  <script type="text/javascript" src="http://okfnlabs.org/recline/vendor/flot/jquery.flot.time.js"></script>
  <script type="text/javascript" src="http://okfnlabs.org/recline/vendor/leaflet/0.7.3/leaflet.js"></script>
  <script type="text/javascript" src="http://okfnlabs.org/recline/vendor/leaflet.markercluster/leaflet.markercluster.js"></script>
  <script type="text/javascript" src="http://okfnlabs.org/recline/vendor/slickgrid/2.0.1/jquery-ui-1.8.16.custom.min.js"></script>
  <script src="http://okfnlabs.org/recline/vendor/slickgrid/2.0.1/jquery.event.drag-2.2.js"></script>
  <script src="http://okfnlabs.org/recline/vendor/slickgrid/2.0.1/jquery.event.drop-2.2.js"></script>

  <script type="text/javascript" src="http://okfnlabs.org/recline/vendor/slickgrid/2.0.1/jquery.event.drag-2.0.min.js"></script>
  <!--script type="text/javascript" src="../vendor/slickgrid/2.0.1/slick.grid.min.js"></script-->
  <script type="text/javascript" src="http://okfnlabs.org/recline/vendor/slickgrid/2.0.1/slick.core.js"></script>
  <script type="text/javascript" src="http://okfnlabs.org/recline/vendor/slickgrid/2.0.1/slick.formatters.js"></script>
  <script type="text/javascript" src="http://okfnlabs.org/recline/vendor/slickgrid/2.0.1/slick.editors.js"></script>
  <script type="text/javascript" src="http://okfnlabs.org/recline/vendor/slickgrid/2.0.1/slick.grid.js"></script>

  <script type="text/javascript" src="http://okfnlabs.org/recline/vendor/slickgrid/2.0.1/plugins/slick.rowselectionmodel.js"></script>
  <script type="text/javascript" src="http://okfnlabs.org/recline/vendor/slickgrid/2.0.1/plugins/slick.rowmovemanager.js"></script>


  <script type="text/javascript" src="http://okfnlabs.org/recline/vendor/moment/2.0.0/moment.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
  <!--script type="text/javascript" src="http://okfnlabs.org/recline/vendor/timeline/js/timeline.js"></script-->
  <!--[if lte IE 7]>
  <script language="javascript" type="text/javascript" src="../vendor/json/json2.js"></script>
  <![endif]-->

  <!--
    ## Just use the all in one library version rather than individual files

  <script type="text/javascript" src="../dist/recline.js"></script>

  -->

  <!-- model and backends -->
  <script type="text/javascript" src="http://okfnlabs.org/recline/src/ecma-fixes.js"></script>
  <script type="text/javascript" src="http://okfnlabs.org/recline/src/model.js"></script>
  <script type="text/javascript" src="http://okfnlabs.org/recline/src/backend.memory.js"></script>
  <script type="text/javascript" src="http://okfnlabs.org/recline/src/backend.dataproxy.js"></script>
  <script type="text/javascript" src="http://okfnlabs.org/recline.backend.gdocs/backend.gdocs.js"></script>
  <script type="text/javascript" src="http://okfnlabs.org/csv.js/csv.js"></script>

  <!-- views -->
  <script type="text/javascript" src="http://okfnlabs.org/recline/src/view.grid.js"></script>
  <script type="text/javascript" src="http://okfnlabs.org/recline/src/view.slickgrid.js"></script>
  <script type="text/javascript" src="http://okfnlabs.org/recline/src/view.flot.js"></script>
  <script type="text/javascript" src="http://okfnlabs.org/recline/src/view.graph.js"></script>
  <script type="text/javascript" src="http://okfnlabs.org/recline/src/view.map.js"></script>
  <script type="text/javascript" src="http://okfnlabs.org/recline/src/view.timeline.js"></script>
  <script type="text/javascript" src="http://okfnlabs.org/recline/src/widget.pager.js"></script>
  <script type="text/javascript" src="http://okfnlabs.org/recline/src/widget.queryeditor.js"></script>
  <script type="text/javascript" src="http://okfnlabs.org/recline/src/widget.filtereditor.js"></script>
  <script type="text/javascript" src="http://okfnlabs.org/recline/src/widget.valuefilter.js"></script>
  <script type="text/javascript" src="http://okfnlabs.org/recline/src/widget.facetviewer.js"></script>
  <script type="text/javascript" src="http://okfnlabs.org/recline/src/widget.fields.js"></script>
  <script type="text/javascript" src="http://okfnlabs.org/recline/src/view.multiview.js"></script>
<script type="text/javascript" src="app.js"></script>

<!--
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
-->

{% endblock %}

{% block secondary %}{% endblock %}

{% block scripts %}
  {{ super() }}  
  
	{% set current_url = request.environ.CKAN_CURRENT_URL %}
  
  <!-- Base JS -->
  
  <script src="{% url_for_static '/public_sparql/base.js' %}"></script>
  
  <script type="text/javascript">
  
  	$(document).ready(function(){
	  var sparql_query = GetURLParameter('view_code');
	  if (sparql_query != "" && sparql_query != undefined) {
	  	editor.setValue(decodeURIComponent((sparql_query+'').replace(/\+/g, '%20')));
	  }
	});
  
  </script>

  
{% endblock %}
