{% block content %}{% set direct_link = h.check_direct_link() %}{% if direct_link == '0' %}
        <div>
            {% set results = h.sparqlQuery('json') %}

            <!--table class="table table-bordered sparql_table">
            <caption>SPARQL Results</caption>
            <thead>
              <tr>
              <th>#</th>
              {% for result in results["head"]["vars"] %}
                <th>{{ result }}</th>
              {% endfor %}
              </tr>
            </thead>
            <tbody>
            {% set counter = 1 %}
            {% for result in results["results"]["bindings"] %}
            {% set rowloop = loop %}
              <tr>
              <td> {{ counter }} </td>
              {% set index = 0 %}
              {% for attributes, values in result.iteritems() %}
                {% if attributes == results["head"]["vars"][index] %}
                	{% set urlschema = h.check_is_url(values.value) %}
                    {% if  urlschema == "http" or urlschema == "https" %}
                    	<td><a href="" onClick="view_resource('{{ values.value }}'); return false;">{{ values.value }}</a></td>
                    {% else %}
                    	<td>{{ values.value }}</td>
                    {% endif %}
                {% else %}
                    <td></td>
                	{% set index = (index + 1) -%}
                	{% set flag = 0 %}
                	{% set temp_counter = 0 %}
                	{% for listheaders in results["head"]["vars"] %}
                		{% if listheaders == attributes %}
                			{% set urlschema = h.check_is_url(values.value) %}
                    		{% if  urlschema == "http" or urlschema == "https" %}
                    			<td><a href="" onClick="view_resource('{{ values.value }}'); return false;">{{ values.value }}</a></td>
                    		{% else %}
                    			<td>{{ values.value }}</td>
                    		{% endif %}
                			{% set index = (index + 1) -%}
                			{% set flag = (flag + 1) -%}
                		{% elif temp_counter >= index and flag == 0 %}
                		 	<td></td>
                			{% set index = (index + 1) -%}
                		{% endif %}
                	{% set temp_counter = (temp_counter + 1) -%}
                	{% endfor %}
                {% endif %}
              {% set index = (index + 1) -%}
              {% endfor %}
              </tr>
            {% set counter = (counter + 1) -%}  
            {% endfor %}
            </tbody>
            </table!-->

            <script type="text/javascript">
              function escapeRegExp(string) {
                  return string.replace(/([.*+?^=!:${}()|\[\]\/\\])/g, "\\$1");
              }
              function replaceAll(string, find, replace) {
                return string.replace(new RegExp(escapeRegExp(find), 'g'), replace);
              }
              function create_data(){
               
                var x;
                
                var text = "{{results}}";

                text = replaceAll(text,"u&#39;",'"')

                text = replaceAll(text,"&#39;",'"')
                text = replaceAll(text,"True",'"True"')
                text = replaceAll(text,"False",'"False"')
                console.log(text);
                var json = JSON.parse(text);
                 x = json
                
                function toObject(arr) {
                  var rv = {};
                  for (var i = 0; i < arr.length; ++i)
                    rv[i] = arr[i];
                  return rv;
                }

                var vars = [];
                for(var i = 0; i < x.head.vars.length; i++){
                  vars.push({id:String(x.head.vars[i]), type: "text"});
                }
                var records = [];

                for(var i = 0;  i < x.results.bindings.length; i++){
                  var dict = {};
                  for(var j = 0; j < vars.length; j++){
                    
                    dict[String("_"+vars[j]["id"])]= x.results.bindings[i][vars[j]["id"]]["value"];
                  }
                  records.push(dict);
                }
                for(var i = 0; i <vars.length; i++){
                    vars[i].id = "_"+vars[i].id
                }
                data_from_json = {records:records, fields:vars};
                if($(".recline-data-explorer").length > 0){
                  $(".recline-data-explorer")[0].remove();
                }

                $("#field-link-sparql-server-query_json").on('change',function(){$(".recline-data-explorer")[0].remove;})
                var dataset = createDemoDataset();
                window.multiview = createMultiView(dataset);

                var url = $("#field-link-sparql-server-query_json").val();
                var json = $.getJSON(url);
                json = json.responseJSON;
              
             
                  var rem = document.getElementsByClassName('slick-column-name')
                  for(var i = 0; i < rem.length; i++){
                    rem[i].innerHTML = rem[i].innerHTML.substring(1, rem[i].innerHTML.length)
                  $("#showdata").hide();
                  $("#updatedata").show();
              }
             

              }

              </script>
            <button onclick='create_data()' id="showdata" class="mybutton" style="margin-left auto; margin-right: auto;">{{_("Show data")}}</button>
            <!--button onclick="create_data()" id="updatedata" class="mybutton" style="margin-left auto; margin-right: auto;"><i class="fa fa-refresh"></i> {{_("Load data")}}</button!-->
        </div>
{% elif direct_link == '1' %}{% set results_python_data_structure = h.sparqlQuery('') %}{{ results_python_data_structure | safe }}{% else %}{{ direct_link }}{% endif %}{% endblock %}
